In [3]:
import pandas as pd
pd.__version__

'1.2.5'

<a src="https://pandas.pydata.org/pandas-docs/stable/user_guide/basics.html#iteration">pandas 공식 문서의 iteration</a> 내용을 기초로 기술하였다.  pandas는 series와 dataframe이라는 두 개의 자료형을 갖고 있다.  이들에 대해 파이썬의 for loop을 사용하면 각각 다른 값들이 순환 변수에 입력된다.  Series에 for loop를 적용하면 각각의 값이, dataframe에 적용하면 column 이름이 순환된다.

In [2]:
srs = pd.Series([1, 2, 3, 4, 5])
df = pd.DataFrame({'컬럼1': [1, 2, 3], '컬럼2': [4, 5, 6]})

print("Series의 for loop입니다.")
for what in srs:
    print(f"{what} : {type(what)}")
print()    

print("Dataframe의 for loop입니다.")
for what in df:
    print(f"{what} : {type(what)}")

Series의 for loop입니다.
1 : <class 'int'>
2 : <class 'int'>
3 : <class 'int'>
4 : <class 'int'>
5 : <class 'int'>

Dataframe의 for loop입니다.
컬럼1 : <class 'str'>
컬럼2 : <class 'str'>

pandas opject는 dict처럼 (key, value)를 순환할 수 있는 items라는 메서드를 갖고 있다. 아래와 같이 사용하면 된다.

In [8]:
print("Series.item()의 for loop입니다.")
for key, value in srs.items():
    print(f"{key} ({type(key)}) : {value} {type(value)}")

Series.item()의 for loop입니다.
0 (<class 'int'>) : 1 <class 'int'>
1 (<class 'int'>) : 2 <class 'int'>
2 (<class 'int'>) : 3 <class 'int'>
3 (<class 'int'>) : 4 <class 'int'>
4 (<class 'int'>) : 5 <class 'int'>

In [15]:
print("Dataframe의 for loop입니다.")
print()
for key, value in df.items():
    print(f"key {key}")
    print(f"value \n{value}")
    print()

Dataframe의 for loop입니다.

key 컬럼1
value
0    1
1    2
2    3
Name: 컬럼1, dtype: int64

key 컬럼2
value
0    4
1    5
2    6
Name: 컬럼2, dtype: int64